---
interface Props {
  size?: string
  dot?: boolean
  href?: string
  label?: string
  class?: string
  style?: string
}
const { size, dot, href, label, style }: Props = Astro.props
const className = Astro.props.class
---
<a
    href={href}
    aria-label={label}
    style={style}
    class:list={["btn-regular min-h-[2rem] px-3 py-1.5 leading-tight rounded-lg", className]}
>
    {dot && <div class="h-1 w-1 bg-[var(--btn-content)] dark:bg-[var(--card-bg)] transition rounded-md mr-2"></div>}
    <slot></slot>
</a>
